

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

 .append-buttons {
   display:none;
  }
  .swiper-pagination {
    display:none;
  }