@import "tailwindcss";
@import '@fontsource/sora';


@keyframes fadeLeftRight {
  0% { mask-image: linear-gradient(to right, transparent 20%, black 100%); }
  50% { mask-image: linear-gradient(to right, black 100%, transparent 20%); }
  100% { mask-image: linear-gradient(to right, transparent 20%, black 100%); }
}

.animate-fade-left-right {
  animation: fadeLeftRight 3s infinite ease-in-out;
}

body{
  font-family: 'sora', sans-serif;
}

html, body {
  overflow-x: hidden !important; /* Evita rolagem horizontal */
  width: 100%;
}


/* Mudança de cor no hover */
a:hover {
  color: #ff4500; /* Laranja avermelhado */
}

/* Mudança de fundo no hover */
a:hover {

  color: white;
  padding: 5px;
  border-radius: 5px;

}

/* Aumento do tamanho no hover */
a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Adição de sombra no hover */
a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Adição de sublinhado no hover */

