@import "tailwindcss";
@import '@fontsource/sora';


@keyframes fadeLeftRight {
  0% { mask-image: linear-gradient(to right, transparent 20%, black 100%); }
  50% { mask-image: linear-gradient(to right, black 100%, transparent 20%); }
  100% { mask-image: linear-gradient(to right, transparent 20%, black 100%); }
}

.animate-fade-left-right {
  animation: fadeLeftRight 3s infinite ease-in-out;
}

body{
  font-family: 'sora', sans-serif;
}


/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap'); */

/* @layer utilities {
    :root {
      --widgets-spacing: 20px 20px;
      --widgets-spacing-row: 20px;
      --widgets-spacing-column: 20px;
    }
  }; */
